name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    permissions:
      id-token: write # Required for trusted publishing
      contents: write
      pull-requests: write

    if: ${{ github.repository_owner == 'cloudflare' }}
    timeout-minutes: 5
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "npm"

      - run: npm install
      - run: npm run build

      - id: changesets
        uses: changesets/action@v1
        with:
          version: ./.github/changeset-version.sh
          publish: npx changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
